<footer class="footer">
    <div class="footer__content">
        <div class="footer__top">
            <div class="footer__logo">
                <span>
                    <svg class="logo__footer">
                        <use xlink:href="#icon-headerlogo"></use>
                    </svg>
                </span>
            </div>

            <nav class="footer__navbar">
                <ul class="navfoot__menu">
                    <li class="nav__item">
                        <a href="#" class="nav__link">О КОМПАНИИ</a>
                    </li>
                    
                    <li class="nav__item">
                        <a href="#" class="nav__link">ПРОДУКЦИЯ</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">УСЛУГИ</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">НОВОСТИ</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">КОНТАКТЫ</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="footer__mid">
            <div class="footer__mid--left">
                <span>PROLINE Промышленный комплекс</span>
                <span>Ташкент, Яккасарайский р-н ул.Мирабад д.2</span>
            </div>

            <div class="footer__mid--right">
                <div class="footer__contacts">
                    <div class="footer__socials">
                        <a aria-label="телефон" href="#" class="footer__item">
                            <svg class="footer__svg">
                                <use xlink:href="#icon-gooterPhone"></use>
                            </svg>
                        </a>
                        <a href="tel: (704) 555-0127">(704) 555-0127</a>
                        </div>

                    <div class="footer__socials">
                        <a aria-label="почта" href="#" class="footer__item">
                            <svg class="footer__svg">
                                <use xlink:href="#icon-footerMail"></use>
                            </svg>
                        </a>
                        <a href="#">proline@.uz</a>
                    </div>
                </div>

                <div class="footer__links">
                    <span>Мы в соц сетях :</span>
                    <a aria-label="Facebook" href="#">
                        <svg class="footer__svg">
                            <use xlink:href="#icon-footerFacebook"></use>
                        </svg>
                    </a>

                    <a aria-label="Instagram" href="#">
                        <svg class="footer__svg">
                            <use xlink:href="#icon-footerInstagram"></use>
                        </svg>
                    </a>

                    <a aria-label="Telegram" href="#">
                        <svg class="footer__svg">
                            <use xlink:href="#icon-footerTelegram"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer__bot">
            <span class="bot__text">© 2021 PROLINE LLC</span>
            <a aria-label="Alex Its" href="https://www.alex-its.uz/" target="_blank">
                <svg class="alex">
                    <use xlink:href="#icon-alex"></use>
                </svg>
            </a>
        </div>

        <div class="footer__blocks">
            <div class="footer__block">
                <div class="footer__miniblock foot__1"></div>
            </div>
    
            <div class="footer__block">
                <div class="footer__miniblock foot__2"></div>
            </div>
    
            <div class="footer__block">
                <div class="footer__miniblock foot__3"></div>
            </div>
    
        </div>
    </div>
</footer>