<section class="form">
    <div class="form__content">
        <div class="form__left">
            <div class="form__text">
                <h2 class="form__left--header">Нужна помощь в подборе
                    качественного товара по выгодной цене?</h2>
                <p class="form__left--text">Оставьте заявку, наш консультант свяжется с вами и ответит на вопросы.</p>
            </div>
            <div class="form__circle">
                <div class="form__square"></div>
            </div>

            <div class="form__circle top">
                <div class="form__square"></div>
            </div>
        </div>

        <div class="form__right">
            <div class="form__div">
                <b>Заполните форму</b>
                <form class="form__form">
                    <input type="text" placeholder="ФИО">
                    <input type="tel" placeholder="Номер телефона">
                    <input type="email" placeholder="Ваш e-mail">
                    <textarea name="textarea" placeholder="Ваше сообщение" cols="30" rows="5"></textarea>
                </form>
                <button class="form__btn" type="button" aria-label="ОТПРАВИТЬ">ОТПРАВИТЬ</button>
            </div>
        </div>
    </div>
</section>