<header class="header">
    <div class="header__content">

        

        <div class="header__left">
            <div class="header__burger">
                <button class="burger" type="button" aria-label="Бургер">
                    <span class="burger__line1"></span>
                    <span class="burger__line2"></span>
                    <span class="burger__line3"></span>
                </button>
            </div>
            <span class="header__logo">
                <a aria-label="Лого" href="#">
                    <svg class="main__logo">
                        <use xlink:href="#icon-headerlogo"></use>
                    </svg>
                </a>
            </span>
            <div class="header__phone">
                <a aria-label="телефон" href="#">
                    <span class="phone__logo">
                        <svg class="phone">
                            <use xlink:href="#icon-phone"></use>
                        </svg>
                    </span>
                    <a class="phone__link" href="tel:7045550127">(704) 555-0127</a>
                </a>
            </div>
        </div>

        

        <div class="header__right">
            <nav class="header__navbar navbar">
                <ul class="nav__menu">
                    
                    <li class="nav__item">
                        <div id="cursor2">
                            <div class="border__top"></div>
                            <div class="border__bottom"></div>
                            <div class="border__top--right"></div>
                            <div class="border__bottom--right"></div>
                          </div>
                        <a href="#" class="nav__link">О КОМПАНИИ</a>
                    </li>
                    
                    <li class="nav__item">
                        <a href="#" class="nav__link">ПРОДУКЦИЯ</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">ВЕНДОРЫ</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">УСЛУГИ</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">НОВОСТИ</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">КОНТАКТЫ</a>
                    </li>
                </ul>
            </nav>

            <div class="header__panel">
                <button class="btn" type="button" aria-label="Поиск">
                    <svg class="loopa">
                        <use xlink:href="#icon-search"></use>
                    </svg>
                </button>

                <button class="btn" type="button" aria-label="Узбекский язык">O`Z</button>

                <button class="btn" type="button" aria-label="Английский язык">EN</button>

                <button class="btn" type="button" aria-label="Русский язык">РУ</button>    
            </div>
        </div>
    </div>
</header>